
/* global */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container-flex {
    flex: 1;
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
}
.content {
    flex: 1;
    padding: 20px;
}

/* 导航栏样式 */
.nav-link-custom {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #000000;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    text-align: start;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link-custom:hover {
    background-color: #007bff;
    color: #ffffff;
}

/* 表格样式 */
table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    width: 100px !important; /* 固定宽度 */
    height: 50px !important; /* 固定高度 */
    text-align: center; /* 可选：居中文本 */
    vertical-align: middle; /* 可选：居中垂直对齐 */
}

/* 表单样式 */
.form-group {
    margin-bottom: 10px; /* 调整表单组的下间距 */
}

.form-control {
    padding: 5px 10px; /* 调整表单控件的内边距 */
    font-size: 14px; /* 调整字体大小 */
}

label {
    margin-bottom: 5px; /* 调整标签的下间距 */
}

