
/* global */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container-flex {
    flex: 1;
    display: flex;
}

.navbar-brand-custom {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem; /* 根据需要调整字体大小 */
    font-weight: 700; /* 确保使用加粗字体 */
    color: #304c04;
    text-decoration:underline;
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
}

.nav-link.active {
    background: linear-gradient(to right, #304c04, #4c7404);
    color: #ffffff;
}
.content {
    flex: 1;
    padding: 20px;
}

.nav-item {
    display: flex; /* Flexbox to keep items inline */
}

.nav-item a{
    color:  linear-gradient(to right, #304c04, #4c7404);
}

.nav-link {
    margin-right: 10px; /* Add some space between the links */
}

/* 导航栏样式 */
.nav-link-custom {
    display: block;
    padding: 5px 25px;
    margin-bottom: 5px;
    color: #000000;
    border-radius: 4px;
    text-align: start;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
}

.nav-link-top {
    padding: 3px;
}


.nav-link-custom:hover {
    background: linear-gradient(to right, #304c04, #4c7404);
    color: #ffffff;
}

.table th, .table td {
    width: 150px;  /* 设置单元格的固定宽度 */
    text-align: center;  /* 居中文本 */
    vertical-align: middle;  /* 垂直居中对齐 */
    word-wrap: break-word;  /* 如果内容超出宽度则换行 */
}

/* .btn-primary {
    color: #fff;
    background: linear-gradient(to right, #304c04, #4c7404);
} */