
<div class="form-row">
    <div class="form-group col-md-2">
        {{ form.material_choices.label(class="form-label") }}
        {{ form.material_choices(class="form-control") }}
    </div>
    <div class="form-group col-md-2">
        {{ form.net_weight.label(class="form-label") }}
        {{ form.net_weight(class="form-control") }}
    </div>
    <div class="form-group col-md-2">
        {{ form.gross_weight.label(class="form-label") }}
        {{ form.gross_weight(class="form-control") }}
    </div>
    <div class="form-group col-md-2">
        {{ form.qualification_rate.label(class="form-label") }}
        {{ form.qualification_rate(class="form-control") }}
    </div>
    <div class="form-group col-md-2 align-self-end">
    </div>
</div>