{% macro product_form(form, pmforms=None, plforms=None, is_edit=False) %}
    <!-- 产品名称字段 -->
    <div class="row mb-3">
        <div class="col-md-2">
            <h5>{{ form.name.label(class="form-label") }}</h5>
            {{ form.name(class="form-control") }}
        </div>
    </div>
    <hr />

    <!-- 动态材料表单 -->
    <div class="d-flex justify-content-between align-items-center my-3">
        <h5 class="mb-0">材料</h5>
        <div>
            <button type="button" class="btn btn-primary btn-sm" id="add-new-material-btn">+新材料</button>
            <button type="button" class="btn btn-primary btn-sm" id="add-material-btn">+已有材料</button>
        </div>
    </div>
    <div id="materialforms-container">
        {% if is_edit %}
            {% for pmform in pmforms %}
                <div class="row align-items-center mb-3 position-relative" data-material-id="{{ pmform.materialID.data }}">
                    {{ render_material_form(pmform) }}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-sm position-absolute" onclick="removeForm(this)">-</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr />

    <!-- 动态人工表单 -->
    <div class="d-flex justify-content-between align-items-center my-3">
        <h5 class="mb-0">人工</h5>
        <div>
            <button type="button" class="btn btn-primary btn-sm" id="add-new-labor-btn">+新人工</button>
            <button type="button" class="btn btn-primary btn-sm" id="add-labor-btn">+已有人工</button>
        </div>
    </div>
    <div id="laborforms-container">
        {% if is_edit %}
            {% for plform in plforms %}
                <div class="row align-items-center mb-3 position-relative" data-labor-id="{{ plform.laborID.data }}">
                    {{ render_labor_form(plform) }}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-sm position-absolute" onclick="removeForm(this)">-</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr />

    <!-- 运输、系数、定制化字段 -->
    {{ render_other_fields(form) }}

    <!-- 提交按钮 -->
    <div class="row">
        <div class="col text-end">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
{% endmacro %}


{% macro render_material_form(pmform) %}
<div class="col-md-2">
    {{ pmform.material_name.label(class="form-label") }}
    {{ pmform.material_name(class="form-control") }}
</div>
<div class="col-md-2">
    {{ pmform.material_spec.label(class="form-label") }}
    {{ pmform.material_spec(class="form-control") }}
</div>
<div class="col-md-2">
    {{ pmform.net_weight.label(class="form-label") }}
    {{ pmform.net_weight(class="form-control") }}
</div>
<div class="col-md-2">
    {{ pmform.gross_weight.label(class="form-label") }}
    {{ pmform.gross_weight(class="form-control") }}
</div>
<div class="col-md-2">
    {{ pmform.qualification_rate.label(class="form-label") }}
    {{ pmform.qualification_rate(class="form-control") }}
</div>
{% endmacro %}

{% macro render_labor_form(plform) %}
<div class="col-md-2">
    {{ plform.labor_name.label(class="form-label") }}
    {{ plform.labor_name(class="form-control") }}
</div>
<div class="col-md-2">
    {{ plform.process_time.label(class="form-label") }}
    {{ plform.process_time(class="form-control") }}
</div>
<div class="col-md-2">
    {{ plform.capacity.label(class="form-label") }}
    {{ plform.capacity(class="form-control") }}
</div>
<div class="col-md-2">
    {{ plform.qualification_rate.label(class="form-label") }}
    {{ plform.qualification_rate(class="form-control") }}
</div>
{% endmacro %}

{% macro render_other_fields(form) %}
<!-- 运输费字段 -->
<h5>运输</h5>
<div class="row mb-3">
    <div class="col-md-2">
        {{ form.trans_method.label(class="form-label") }}
        {{ form.trans_method(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.trans_dest.label(class="form-label") }}
        {{ form.trans_dest(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.trans_cost_kg.label(class="form-label") }}
        {{ form.trans_cost_kg(class="form-control") }}
    </div>
</div>
<hr/>

<!-- 系数字段 -->
<h5>系数</h5>
<div class="row mb-3">
    <div class="col-md-2">
        {{ form.dev_coef.label(class="form-label") }}
        {{ form.dev_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.fac_coef.label(class="form-label") }}
        {{ form.fac_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.admin_coef.label(class="form-label") }}
        {{ form.admin_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.sale_coef.label(class="form-label") }}
        {{ form.sale_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.finance_coef.label(class="form-label") }}
        {{ form.finance_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.tax_coef.label(class="form-label") }}
        {{ form.tax_coef(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.profit_coef.label(class="form-label") }}
        {{ form.profit_coef(class="form-control") }}
    </div>
</div>
<hr/>

<!-- 定制化字段 -->
<h5>定制化</h5>
<div class="row mb-3">
    <div class="col-md-2">
        {{ form.customer_type.label(class="form-label") }}
        {{ form.customer_type(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.payment_term.label(class="form-label") }}
        {{ form.payment_term(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.customer_importance.label(class="form-label") }}
        {{ form.customer_importance(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.estimated_purchase_amount.label(class="form-label") }}
        {{ form.estimated_purchase_amount(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.region_price.label(class="form-label") }}
        {{ form.region_price(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.customer_prospect.label(class="form-label") }}
        {{ form.customer_prospect(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.product_risk.label(class="form-label") }}
        {{ form.product_risk(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.technical_quality_requirement.label(class="form-label") }}
        {{ form.technical_quality_requirement(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.customization_requirement.label(class="form-label") }}
        {{ form.customization_requirement(class="form-control") }}
    </div>
</div>
<hr />

{% endmacro %}
