{% extends 'base.html' %}
{% block title %} 产品详情 {% endblock %}
{% block content %}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="flex: 1; text-align: center;">{{ product.name }}</h3>
    <a href="{{ url_for('products.edit_product', product_id=product.id) }}" class="btn btn-primary" style="vertical-align: top;">编辑</a>
</div>

<table class="table table-bordered">
    <tbody>

        <!-- 原材料费用 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">原材料费用</th></tr>
        <tr>
            <th>材料名称</th>
            <th>材料规格</th>
            {% if current_user.role == 'admin' %}
            <th>单价/g</th>
            {% endif %}
            <th>材料净重</th>
            <th>材料毛边</th>
            <th>材料毛重</th>
            <th>合格率</th>
            <th>Ttl(CNY)</th>
            <th></th> <!-- 空列用于填充 -->
        </tr>
        {% for material in product.materials_dict %}
        <tr>
            <td>{{ material.get('材料名称') }}</td>
            <td>{{ material.get('材料规格') }}</td>
            {% if current_user.role == 'admin' %}
            <td>{{ material.get('单价/g') }}</td>
            {% endif %}
            <td>{{ material.get('材料净重') }}</td>
            <td>{{ material.get('材料毛边') }}</td>
            <td>{{ material.get('材料毛重') }}</td>
            <td>{{ material.get('合格率') }}</td>
            <td>{{ material.get('TTL(CNY)') }}</td>
            <td></td> <!-- 空列用于填充 -->
        </tr>
        {% endfor %}

        <!-- 设备、人工费 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">设备、人工费</th></tr>
        <tr>
            <th>工序</th>
            <th>设备折旧</th>
            <th>电费CNY/H</th>
            <th>工序工时/秒</th>
            <th>人工CNY/H</th>
            <th>产能/次</th>
            <th>合格率</th>
            <th>Ttl(CNY)</th>
            <th></th> <!-- 空列用于填充 -->
        </tr>
        {% for labor in product.labors_dict %}
        <tr>
            <td>{{ labor.get('工序') }}</td>
            <td>{{ labor.get('设备折旧') }}</td>
            <td>{{ labor.get('电费CNY/H') }}</td>
            <td>{{ labor.get('工序工时/秒') }}</td>
            <td>{{ labor.get('人工CNY/H') }}</td>
            <td>{{ labor.get('产能/次') }}</td>
            <td>{{ labor.get('合格率') }}</td>
            <td>{{ labor.get('TTL(CNY)') }}</td>
            <td></td> <!-- 空列用于填充 -->
        </tr>
        {% endfor %}

        <!-- 运输费 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">运输费</th></tr>
        <tr>
            <th>运输方式</th>
            <th>目的地</th>
            <th>运输费/KG</th>
            <th>运输费/个</th>
            <th></th> <!-- 空列用于填充 -->
            <th></th> <!-- 空列用于填充 -->
            <th></th> <!-- 空列用于填充 -->
            <th></th> <!-- 空列用于填充 -->
            <th></th> <!-- 空列用于填充 -->
        </tr>
        <tr>
            <td>{{ product.trans_dict.get('运输方式') }}</td>
            <td>{{ product.trans_dict.get('目的地') }}</td>
            <td>{{ product.trans_dict.get('运输费/KG') }}</td>
            <td>{{ product.trans_dict.get('运输费/个') }}</td>
            <td></td> <!-- 空列用于填充 -->
            <td></td> <!-- 空列用于填充 -->
            <td></td> <!-- 空列用于填充 -->
            <td></td> <!-- 空列用于填充 -->
            <td></td> <!-- 空列用于填充 -->
        </tr>

        <!-- 费用系数 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">费用系数</th></tr>
        <tr>
            {% for key, value in product.coef_dict.items() %}
            <th>{{ key }}</th>
            {% endfor %}
            {% for i in range(9 - product.coef_dict|length) %}
            <th></th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in product.coef_dict.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            {% for i in range(9 - product.coef_dict|length) %}
            <td></td>
            {% endfor %}
        </tr>

        <!-- 客户信息 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">客户信息</th></tr>
        <tr>
            {% for key, value in product.customization_dict.items() %}
            <th>{{ key }}</th>
            {% endfor %}
            {% for i in range(9 - product.customization_dict|length) %}
            <th></th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in product.customization_dict.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            {% for i in range(9 - product.customization_dict|length) %}
            <td></td>
            {% endfor %}
        </tr>

        <!-- 总费用 -->
        <tr><th colspan="9" style="text-align: center; background-color: antiquewhite;">总费用</th></tr>
        <tr>
            {% for key, value in product.cost_dict.items() %}
            <th>{{ key }}</th>
            {% endfor %}
            {% for i in range(9 - product.cost_dict|length) %}
            <th></th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in product.cost_dict.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            {% for i in range(9 - product.cost_dict|length) %}
            <td></td>
            {% endfor %}
        </tr>

    </tbody>
</table>

{% endblock %}
