{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'products/_product_form.html' import product_form %}

{% block content %}
<div class="container">
    <h4>编辑产品</h4>
    <hr />
    <form method="post" action="{{ url_for('products.edit_product', product_id=product.id) }}" id="product-form"  data-product-id="{{ product.id }}">
        {{ form.hidden_tag() }}
        {{ product_form(form, pmforms, plforms, is_edit=True) }}
    </form>
</div>
{% include 'resources/_material_form_modal.html' %}
{% include 'resources/_labor_form_modal.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/productFormUtils.js') }}"></script>
<script type="text/javascript">
    let formCounter = {
        material: {{ pmforms|length }},
        labor: {{ plforms|length }}
    };

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('add-material-btn').addEventListener('click', function() {
            addForm('material', 'materialforms-container', formCounter);
        });

        document.getElementById('add-labor-btn').addEventListener('click', function() {
            addForm('labor', 'laborforms-container', formCounter);
        });

        document.getElementById('add-new-material-btn').addEventListener('click', function() {
            $('#newMaterialModal').modal('show');
        });

        document.getElementById('add-new-labor-btn').addEventListener('click', function() {
            $('#newLaborModal').modal('show');
        });

        document.getElementById('newMaterialForm').addEventListener('submit', function(event) {
            event.preventDefault();
            submitForm(this, this.action, function(data) {
                $('#newMaterialModal').modal('hide');
                alert('新材料添加成功');
                addMaterialToSelect2(data.material);
            }, function(errorMessage) {
                alert('错误: ' + errorMessage);
            });
        });

        document.getElementById('newLaborForm').addEventListener('submit', function(event) {
            event.preventDefault();
            submitForm(this, this.action, function(data) {
                $('#newLaborModal').modal('hide');
                alert('新人工添加成功');
                addLaborToSelect2(data.labor);
            }, function(errorMessage) {
                alert('错误: ' + errorMessage);
            });
        });

        document.getElementById('product-form').on('submit', function(e) {
            // 调用函数时传入容器和 readonly 输入框的选择器
            if (checkDuplicatesBeforeSubmit('#materialforms-container, #laborforms-container', 'input[readonly]')) {
                e.preventDefault(); // 阻止表单提交
                alert('你有重复的材料/人工选项或输入值，请选择不同的材料/人工选项或输入不同的值。');
            }
        });

    });
</script>
{% endblock %}