{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'products/_product_form.html' import product_form %}

{% block content %}
<div class="container">
    <h3>新增产品</h3>
    <hr />
    <form method="post" action="{{ url_for('products.new_product') }}" id="product-form">
        {{ form.hidden_tag() }}
        {{ product_form(form) }}
    </form>
</div>
{% include 'resources/_material_form_modal.html' %}
{% include 'resources/_labor_form_modal.html' %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/productFormUtils.js') }}"></script>
<script type="text/javascript">
    let formCounter = {
        material: 0,
        labor: 0
    };

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('add-material-btn').addEventListener('click', function() {
            addForm('material', 'materialforms-container', formCounter);
        });

        document.getElementById('add-labor-btn').addEventListener('click', function() {
            addForm('labor', 'laborforms-container', formCounter);
        });

        document.getElementById('add-new-material-btn').addEventListener('click', function() {
            $('#newMaterialModal').modal('show');
        });

        document.getElementById('add-new-labor-btn').addEventListener('click', function() {
            $('#newLaborModal').modal('show');
        });

        document.getElementById('newMaterialForm').addEventListener('submit', function(event) {
            event.preventDefault();
            submitForm(this, this.action, function(data) {
                $('#newMaterialModal').modal('hide');
                alert('新材料添加成功');
                addMaterialToSelect2(data.material);
            }, function(errorMessage) {
                alert('错误: ' + errorMessage);
            });
        });

        document.getElementById('newLaborForm').addEventListener('submit', function(event) {
            event.preventDefault();
            submitForm(this, this.action, function(data) {
                $('#newLaborModal').modal('hide');
                alert('新人工添加成功');
                addLaborToSelect2(data.labor);
            }, function(errorMessage) {
                alert('错误: ' + errorMessage);
            });
        });

        document.getElementById('product-form').on('submit', function(e) {
            if (checkDuplicatesBeforeSubmit('#materialforms-container, #laborforms-container')) {
                e.preventDefault(); // 阻止表单提交
                alert('你有重复的材料/人工选项，请选择不同的材料/人工选项。');
            }
        });
    });
</script>

{% endblock %}
