{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newLaborModal">添加新人工</button>
  <div id="laborTable"></div> <!-- 人工表格将在这里渲染 -->
  
 {% include 'resources/_labor_form_modal.html' %}


  <!-- Edit Labor Modal -->
  <div class="modal fade" id="editLaborModal" tabindex="-1" aria-labelledby="editLaborModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLaborModalLabel">编辑人工</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 表单将被动态加载到这里 -->
            </div>
        </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/labor.js') }}"></script>
{% endblock %}
