<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}报价管理系统{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mermaid.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand-custom ps-3" href="{{ url_for('products.index') }}">CostCalc</a>
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ms-auto pe-3">
            <li class="nav-item">
                <a class="nav-link-custom nav-link-top d-flex align-items-center me-2" href="{{ url_for('auth.login') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person me-1" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        <path d="M8 9a4 4 0 0 1 4 4v1H4v-1a4 4 0 0 1 4-4z"/>
                    </svg> {{ current_user.username }}
                </a>
                <a class="nav-link-custom nav-link-top d-flex align-items-center me-2" href="{{ url_for('auth.logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right me-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 11.5a.5.5 0 0 0 1 0V9h1a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-1V5.5a.5.5 0 0 0-1 0V7H8a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1v1.5a.5.5 0 0 0 .5.5zM5 3.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 5.5 14h7a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 2h-7A1.5 1.5 0 0 0 4 3.5v2a.5.5 0 0 0-1 0v-2z"/>
                    </svg> 登出
                </a>
            </li>
        </ul>

        <button class="navbar-toggler d-lg-none" style="margin-right: 20px; padding: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="navbar-toggler-icon"></span>
        </button> 
        {% endif %}
    </nav>
    
    

    <div class="container-flex">
        {% if current_user.is_authenticated %}
        <!-- Sidebar -->
        <div class="sidebar collapse d-lg-block" id="sidebarCollapse">
            <!-- <h5>导航栏</h5> -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link nav-link-custom {% if request.path == url_for('products.manage_product') %}active{% endif %}" href="{{ url_for('products.manage_product') }}">产品</a>
                </li>
                {% if current_user.role == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link nav-link-custom {% if request.path == url_for('resources.manage_material') %}active{% endif %}" href="{{ url_for('resources.manage_material') }}">材料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom {% if request.path == url_for('resources.manage_labor') %}active{% endif %}" href="{{ url_for('resources.manage_labor') }}">人工</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        <!-- Main Content -->
        <div class="content">
            <!-- Flash messages container -->
            <div id="flash-messages">
                {% for message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ message[0] }}" role="alert">
                        <button type="button" class="btn-close" style="float: right" data-bs-dismiss="alert"></button>
                        {{ message[1] }}
                    </div>
                {% endfor %}
            </div>

            <!-- Page content -->
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/utils/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils/gridjs.umd.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils/select2.min.js') }}"></script>
        <script>const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');</script>
    {% endblock %}
</body>
</html>
